<h1>TinyApp</h1>
<% if (username === undefined){ %>
<form method="POST" action="/login">
 <input id="username" name="username" placeholder="username" style="width: 300px">
 <button type='submit'>Log In</button>
</form>
 <% } else{ %>
<h4>Username: <%= username %></h4>
<form method="post" action="/logout">
  <button type='submit'>Logout</button>
</form>
<% } %>