<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <form action="/register" method="POST" style="margin:150px;">
    <h2>Registration page</h2>
    <label for="email">Email:</label>
    <input id="userId" type="email" name="email" placeholder="Email" style="width: 300px">
    <br /><br />
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">
    <br /><br />
    <input type="submit" value="Submit">
  </form>
</body>
</html>
