<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <ul>
  <% for (let obj in urls) {%>
    <li><%= obj %> <%= urls[obj] %></li>
  <% }; %>
  </ul>
</body>
</html>