<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <div style="margin:75px">
    <h2>ShortURL: <strong><a href="/u/<%= shortURL %>">http://localhost:8080/u/<%= shortURL %></a></strong></h2>
      <form method="POST" action="/urls/<%= shortURL %>/update">
        <input id="longURL" type="text" name="longURL" placeholder="<%= urlDatabase[shortURL].long %>" style="width: 300px">
        <button type="update" value="Update">Update</button>
        <p style='font-size:12px'>Friendly reminder: All links must have 'http://' at the start!</p>
      </form>
      <br />
    <a href="/urls">Click here to go back to your links</a>
    <br />
    <a href="/urls/new/">Click here to add more links</a>
  </div>>
</body>
</html>